<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <title>Rated Clubs</title>
    <meta charset="utf-8"/>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous">

</head>
<body>

<div th:insert="navbar :: navigation"></div>

<div class="container">
    <p>
    <h3>Rated Teams</h3>
    </p>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-6" th:each="team : ${teams}">
            <div class="container" style="margin-bottom:50px">

                <div class="media">
                    <img th:src="${team.logo}" class="align-self-center mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0" th:text="${team.name}"/>
                            <b><span th:text="${team.name}"/></b> is founded in <b><span th:text="${team.country}"/></b> in <b><span
                                th:text="${team.founded}"/></b>.
                            Its venue name is <b><span th:text="${team.venue_name}"/></b> in <b><span
                                th:text="${team.venue_city}"/></b>, its surface is
                        <b><span th:text="${team.venue_surface}"/></b> and its has <b><span th:text="${team.venue_capacity}"/></b>
                            capacity
                        </p>
                        <p class="mb-0">Rank: <b><span th:text="${team.rating}"/></b></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>